body {
    font-family: sans-serif;
    background-color: lightblue;
    margin-top: 10px;

    background-image:url(/ui/trees.png);
}

.center {
    text-align: center;
}

.text-big {
    font-size: 150%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.menu{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:green;
    position:fixed;
    top:0;
    width:100%;
}
.lis{
    float:left;
    
}
.lis a{
    display:inline-block;
    color:white;
    text-align:center;
    padding:100px 100px;
    text-decoration:none;
}
.lis a:hover {
    background-color: #111;
}

.container {
                    max-width: 800px;
                    margin: 0 auto;
                    color: grey;
                    font-family: sans-serif;
                    padding-top: 60px;
                    padding-left: 20px;
                    padding-right: 20px;
            }
            
.footer {
                    max-width: 400px;
                    margin: 0 auto;
                    color: red;
                    font-family: sans-serif;
                    padding-top: 60px;
                    padding-left: 20px;
                    padding-right: 20px;
                    padding-bottom:20px;
            }